.white {
    color: white;
}

.basic-multi-select {
    margin-top: 8px;
    margin-bottom: 4px;
}

.open-react-select {
    z-index: 10;
}

.react-select-error {
    border: 1px solid red;
    border-radius: 5px;

}